.texto-grande {
  font-size: 4rem;
  line-height: 1.125;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.textos-geral {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.texto-pequeno {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .texto-grande {
    font-size: 3rem;
  }
  .textos-geral {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .texto-grande {
    font-size: 2rem;
  }
  .textos-geral {
    font-size: 1.25rem;
  }
}

/* .texto-medio {
  font-size: ;
} */
