.escolha-bg {
  box-sizing: border-box;
  padding: 30px 0;
  background: var(--cor-11);
  margin-top: 20px;
  margin-bottom: 0px;
  box-shadow: inset 0 120px var(--cor-0), inset 0 -120px var(--cor-1);
}

.container-escolha {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.img-escolha img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

/* .img-escolha {
  margin-top: -100px;
  margin-bottom: -100px;
} */

.escolha-textos {
  margin: 100px 0;
  display: grid;
  gap: 30px;
}

.escolha-modelo {
  display: inline-block;
  color: var(--cor-p1);
  font-size: 1.5rem;
  padding: 20px 0px 0px 0px;
}

.escolha-modelo::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.escolha-modelo:hover {
  color: var(--cor-0);
}

.container-escolha-2 {
  display: flex;
  gap: 40px;
  padding: 20px 0;
}

.container-escolha-2-1 {
  display: grid;
  gap: 0px;
}

@media (max-width: 800px) {
  .container-escolha {
    grid-template-columns: 1fr;
  }
  .escolha-bg {
    box-shadow: none;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .escolha-textos {
    margin: 0px;
  }
  .img-escolha img {
    display: none;
  }
}

@media (max-width: 600px) {
  .container-escolha-2 {
    display: grid;
    gap: 40px;
    padding: 20px 0;
  }
}
