.introducao-bg {
  background-color: var(--cor-12);
  color: var(--cor-0);
  box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
  display: flex;
  padding: 0 20px;
  gap: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

.introducao span {
  color: var(--cor-p1);
}

.introducao-itens {
  align-self: end;
  padding-bottom: 200px;
  gap: 20px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}

.introducao img {
  border-radius: 4px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 800px) {
  .introducao h1 {
    margin-bottom: 16px;
  }
  .introducao {
    display: grid;
    grid-template-columns: 1fr;
  }
  .introducao-itens {
    padding: 40px 0px 20px;
  }
  .introducao-bg {
    background-color: var(--cor-11);
    box-shadow: inset 0 -60px;
  }
  .introducao img {
    height: 300px;
    width: 100%;
  }
}
